<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="simpleosatecmdlineapp"
         name="Simple Osate Command Line Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.osate.xtext.aadl2.agcl.cmdline.Application">
         </run>
      </application>
   </extension>

</plugin>
